body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: black;
  color: #73AD21;
  border: 1px solid #73AD21;
  text-align:center;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:2px solid #4CAF50;
}

a{
  font-size: 20px;
  color: #4CAF50;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

/* ---------------------------------- id css --------------------------- */

#quote {
  text-align: center;
  vertical-align: middle;
  font-style: oblique;
  font-size: 40px;
  color: #4CAF50;;
  height: 45%;
  margin: 20px 20px 20px 20px;
}

#author {
  text-align: center;
  vertical-align: middle;
  font-style: oblique;
  font-size: 30px;
  color: #4CAF50;;
  margin: 20px 20px 20px 20px;
}

/* ------------------------------------- class css --------------------------- */

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  height: 45vh;
  position: relative;
}

.social{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

